@font-face{
font-family: mathias;
src: url(futura.woff);
}

body {
	background:linear-gradient(217deg, rgba(166, 55, 55, 0), rgba(255,0,0,0) ), linear-gradient(127deg, rgba(255, 115, 9, 0.8), rgba(0,255,0,0) ), linear-gradient(336deg, rgba(0, 0, 255, 0.92), rgba(0,0,255,0) );
			background-attachment: fixed;
}
#lec{
	 border : solid black 1px;
	 width: 99.4%;
	 height : 30px;
}
#bijouer {
  width: 10%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white; 
}
.odometer {
	position: relative;
	font-family: mathias;
	font-size: 70px;
	font-weight: 600;
	color: white;
    position: absolute;
	width: 100%;
    margin-top: 30px;
    text-align: center;
	line-height: 1em;
    display: unset;
	text-shadow: 3px 4px 0px rgba(0,0,0,0.85);

}
#wow {
	background-color: #11111122;
}
.post {
	top: 85px;
}
.leuseu {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
   font-family: mathias;
}
#lable1 {
	font-size: 20px;
	font-family: mathias;
}
.bouto1 {
	position: top;
	font-family: mathias;
}

.follower, .leposte, #post-text, #followin, #autre {
	margin-bottom: 5px;
	width: 100%;
	border : solid 2px #11111122;
	background : #11111122;
}
	#usernamer1 , #usernamer2, #usernamer {
  font-family: mathias;
  outline: 0;
  background: #f2f2f2;
  width: 88%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.chercher {
  font-family: mathias;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
h1{
	font-family: mathias;
	text-shadow: 3px 4px 18px rgba(0,0,0,0.85);
}
button{
	font-family: mathias;
}
@media only screen and (min-aspect-ratio: 6/5){
	#pfp2{
		transform: translateX(200%)
	}
